body {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("../img/bg-header.png");
}

.main {
  padding-top: 30px;
  background: #0769ad;
  padding-bottom: 30px;
}

.footer {
  background-image: url("../img/bg-footer.jpg");
}


.form-control-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.hidden {
  display: none !important;
}